@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../shrift/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../shrift/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../shrift/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../shrift/Roboto-Black.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../shrift/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 900;
  src: url("../shrift/Raleway-Black.ttf");
}

.form-title {
  margin-bottom: 12px;
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.main-form {
  width: 370px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 479px) {
  .main-form {
    width: 280px;
  }
}

@media (min-width: 1200px) {
  .main-form {
    width: 450px;
  }
}

.form {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 40px;
}

@media (max-width: 479px) {
  .form {
    width: 280px;
    height: 40px;
  }
}

@media (min-width: 480px) {
  .form {
    width: 370px;
    height: 40px;
  }
}

@media (min-width: 1200px) {
  .form {
    width: 450px;
    height: 40px;
  }
}

.form:hover,
.form:focus {
  border: 1px solid #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form:hover + .form-icon {
  fill: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  fill: #212121;
}

.form-icon {
  position: absolute;
  bottom: 10px;
  left: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-label {
  position: relative;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-label:focus-within .form {
  border: 1px solid #2196F3;
  outline: none;
}

.form-label:focus-within .form + .form-icon {
  fill: #2196F3;
}

.form-label textarea::-webkit-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label textarea::-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label textarea::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-subtitle {
  margin-bottom: 5px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-section {
  margin-bottom: 10px;
}

.icon-modal {
  position: absolute;
  top: 10px;
  right: 10px;
}

.text-checkbox {
  font-size: 12px;
  line-height: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #757575;
}

@media (min-width: 1200px) {
  .text-checkbox {
    font-size: 14px;
    line-height: 24px;
  }
}

.link-checkbox {
  color: #2196F3;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 479px) {
  .checkbox {
    width: 260px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form-coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  height: 120px;
  width: 370px;
}

@media (max-width: 479px) {
  .form-coment {
    width: 280px;
  }
}

@media (min-width: 1200px) {
  .form-coment {
    width: 450px;
  }
}

.form-coment:hover {
  border: 1px solid #2196F3;
}

.form-coment:focus-within {
  border: 1px solid var(--accent-color);
  /* outline: none; */
}

.form-footer {
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #FFFFFF;
}

@media (max-width: 479px) {
  .form-footer {
    width: 290px;
  }
}

@media (min-width: 480px) {
  .form-footer {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .form-footer {
    width: 325px;
  }
}

.form-footer::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-centered {
  text-align: center;
  margin-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.button-hero {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--background-butten-color);
  background-color: #2196F3;
  color: #ffffff;
  cursor: pointer;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 28px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 479px) {
  .button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
}

@media (min-width: 480px) {
  .button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .button {
    width: 200px;
    margin-top: auto;
    margin-left: auto;
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .button {
    width: 200px;
    margin-top: 0px;
    margin-left: 8px;
  }
}

.form-button {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;
  margin-top: 30px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 479px) {
  .form-button {
    margin-bottom: 15px;
  }
}

.portfolio-button {
  background-color: #FFFFFF;
  padding-top: 95px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 479px) {
  .portfolio-button {
    width: 290px;
  }
}

@media (min-width: 480px) {
  .portfolio-button {
    width: 380px;
  }
}

@media (min-width: 768px) {
  .portfolio-button {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .portfolio-button {
    width: 1200px;
  }
}

.button-margin {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .button-margin {
    width: 380px;
  }
}

@media (min-width: 768px) {
  .button-margin {
    width: 620px;
  }
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0px;
}

.button-list .item {
  margin-right: 10px;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .button-list .item {
    margin-top: 0px;
  }
}

.button-list .item:last-child {
  margin-right: 0px;
}

.button-portfolio {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover {
  color: #FFFFFF;
  background: #2196F3;
  /* shadow-middle */
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.web-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

@media (max-width: 479px) {
  .web-logo {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
  }
}

@media (min-width: 480px) {
  .web-logo {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .web-logo {
    font-size: 26px;
    line-height: 31px;
    margin-right: 85px;
  }
}

.web-text {
  color: #2196F3;
}

.studio-text {
  color: #000000;
}

.icon-style .icon {
  background-color: #F5F4FA;
  width: 70px;
  height: 70px;
}

@media (max-width: 479px) {
  .icon-style .icon {
    padding: 25px 110px;
  }
}

@media (min-width: 480px) {
  .icon-style .icon {
    padding: 25px 190px;
  }
}

@media (min-width: 768px) {
  .icon-style .icon {
    padding: 25px 142px;
  }
}

@media (min-width: 1200px) {
  .icon-style .icon {
    padding: 25px 100px;
  }
}

@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

.menu-mobile:hover, .menu-mobile:focus {
  fill: #2196F3;
}

.close-menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
}

@media (min-width: 768px) {
  .close-menu-mobile {
    display: none;
  }
}

.close-menu-mobile:hover, .close-menu-mobile:focus {
  fill: #2196F3;
}

.svg-mobile-header .close-menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.svg-mobile-header.is-open .close-menu-mobile {
  display: none;
}

.svg-mobile-header .menu-mobile {
  display: none;
}

.svg-mobile-header.is-open .menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .svg-mobile-header.is-open .menu-mobile {
    display: none;
  }
}

.list-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.icon-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-header:hover {
  fill: #2196F3;
  color: #2196F3;
}

.icon-comand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-comand .icon {
  width: 20px;
  height: 20px;
}

.icon-comand:hover {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item .svg-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 479px) {
  .item .svg-icon {
    width: 170px;
    height: 90px;
  }
}

@media (min-width: 480px) {
  .item .svg-icon {
    width: 210px;
    height: 90px;
  }
}

@media (min-width: 768px) {
  .item .svg-icon {
    width: 226px;
    height: 90px;
  }
}

@media (min-width: 1200px) {
  .item .svg-icon {
    width: 170px;
    height: 90px;
  }
}

.list-сustomer .item:hover .svg-icon {
  fill: #2196F3;
}

.contact {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: currentColor;
}

.img-portfolio {
  position: relative;
  overflow: hidden;
}

.portfolio-list {
  padding: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .portfolio-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.portfolio-list .item {
  width: 450px;
  margin-right: 25px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 479px) {
  .portfolio-list .item {
    width: 290px;
  }
}

@media (min-width: 768px) {
  .portfolio-list .item {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .portfolio-list .item {
    width: 370px;
  }
}

.portfolio-list .item:hover {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hover-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 479px) {
  .hover-portfolio {
    font-size: 14px;
    line-height: 22px;
    padding: 40px 20px;
  }
}

.portfolio-list .item:hover .hover-portfolio {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms, transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-portfolio p {
  margin: 0px;
}

@media (min-width: 768px) {
  .portfolio-list .item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media (min-width: 1200px) {
  .portfolio-list .item:nth-child(2n) {
    margin-right: 25px;
  }
  .portfolio-list .item:nth-child(3n) {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .portfolio-list .item:nth-child(-n +2) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .portfolio-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio-subtitle, .portfolio-text {
  color: #757575;
  margin-left: 24px;
  margin-right: 24px;
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 5px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479px) {
  .main-nav {
    width: 320px;
  }
}

@media (min-width: 480px) {
  .main-nav {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .main-nav {
    width: 1200px;
  }
}

.main-nav .list-line {
  padding-left: 0px;
}

.header-nav {
  display: none;
}

@media (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.list-line .item {
  position: relative;
}

@media (min-width: 768px) {
  .list-line .item {
    padding-top: 32px;
    padding-bottom: 28px;
  }
}

.header-text.current {
  color: #2196F3;
}

.header-text.current::after {
  bottom: -1px;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 5px;
  background-color: #2196F3;
  border-radius: 2px;
}

.header-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  margin-left: auto;
}

@media (max-width: 479px) {
  .auth-nav {
    display: none;
  }
}

@media (min-width: 480px) {
  .auth-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .auth-nav {
    display: block;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.auth-nav .item {
  fill: #2196F3;
  color: #2196F3;
}

@media (min-width: 768px) {
  .auth-nav .item {
    margin-bottom: 10px;
  }
  .auth-nav .item:last-child {
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .auth-nav .item {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.main-nav .list-line {
  padding-left: 0px;
}

.auth-nav .item:last-child {
  margin-right: 0px;
}

@media (max-width: 479px) {
  .list-line {
    display: none;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 480px) {
  .list-line {
    display: none;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .list-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media (min-width: 480px) {
  .list-line .item {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .list-line .item {
    margin-right: 50px;
  }
}

@media (min-width: 1200px) {
  .list-line .item {
    margin-top: 0px;
  }
}

.list-line .item:last-child {
  margin-right: 0px;
}

.header-text:hover,
.header-text:focus {
  color: #2196F3;
}

.svg-mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding-right: 10px;
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .svg-mobile-header {
    display: none;
  }
}

.svg-mobile-header:hover, .svg-mobile-header:focus {
  fill: #2196F3;
}

.svg-mobile-header.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .svg-mobile-header.is-open {
    display: none;
  }
}

.header-menu {
  z-index: 1;
  display: block;
  position: absolute;
  top: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media (max-width: 479px) {
  .header-menu {
    width: 320px;
    height: 450px;
  }
}

@media (min-width: 480px) {
  .header-menu {
    width: 480px;
    height: 450px;
  }
}

@media (min-width: 768px) {
  .header-menu {
    display: none;
  }
}

.header-menu.is-open {
  display: none;
}

.header-menu .list-line .item {
  position: relative;
}

@media (max-width: 479px) {
  .header-menu .list-line .item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 60px;
    padding-bottom: 8px;
  }
}

@media (min-width: 480px) {
  .header-menu .list-line .item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 60px;
    padding-bottom: 8px;
  }
}

.header-menu .header-text.current {
  color: #2196F3;
}

.header-menu .header-text.current::after {
  bottom: -1px;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
}

.header-menu .header-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu .auth-nav {
  padding: 0;
  display: block;
}

.header-menu .auth-nav .item {
  fill: #2196F3;
  color: #2196F3;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu .auth-nav .item:last-child {
  margin-top: 10px;
}

.header-menu .main-nav .list-line {
  padding-left: 0px;
}

.header-menu .auth-nav .item:last-child {
  margin-right: 0px;
}

@media (max-width: 479px) {
  .header-menu .list-line {
    width: 80px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 480px) {
  .header-menu .list-line {
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 480px) {
  .header-menu .list-line .item {
    display: inline-block;
  }
}

.header-menu .list-line .item:last-child {
  margin-right: 0px;
}

.header-menu .header-text:hover,
.header-menu .header-text:focus {
  color: #2196F3;
}

.header-menu .svg-mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 40px;
  height: 40px;
}

.header-menu .svg-mobile-header:hover {
  fill: #2196F3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .footer-section {
    margin-left: 80px;
  }
}

@media (max-width: 479px) {
  .footer-section .web-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 480px) {
  .footer-section .web-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .footer-section {
    margin-left: 0px;
  }
}

.footer-adress {
  padding-left: 0px;
  margin-top: 20px;
}

.footer-adress .item {
  margin-bottom: 10px;
}

@media (max-width: 479px) {
  .footer-adress .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 480px) {
  .footer-adress .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-adress .contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress .contact:hover {
  color: #2196F3;
}

.footer-adress .item:last-child {
  margin-bottom: 0px;
}

.footer-adress .item:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-style: normal;
}

@media (max-width: 479px) {
  .footer-soc {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (min-width: 480px) {
  .footer-soc {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .footer-soc {
    margin-top: 5px;
    margin-right: 80px;
  }
}

@media (min-width: 1200px) {
  .footer-soc {
    margin: 0px;
  }
}

@media (max-width: 479px) {
  .footer-soc .subtitle-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 480px) {
  .footer-soc .subtitle-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-soc .list-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-soc .list-soc .item {
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  fill: #FFFFFF;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer .icon {
  width: 20px;
  height: 20px;
}

.icon-footer:hover {
  background: #2196F3;
}

.footer-soc .list-soc .item:last-child {
  margin-right: 0px;
}

@media (max-width: 479px) {
  .footer-link {
    width: 290px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 480px) {
  .footer-link {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .footer-link {
    margin-top: 60px;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .footer-link {
    margin: 0px;
    width: 450px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .footer-link {
    width: 520px;
    margin: 0;
  }
}

.footer-link .subtitle-text {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

@media (max-width: 479px) {
  .footer-link .subtitle-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 480px) {
  .footer-link .subtitle-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 479px) {
  .form-flex-footer {
    width: 290px;
  }
}

@media (min-width: 480px) {
  .form-flex-footer {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .form-flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button::after {
  content: "";
  display: block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../picture/svg/telegram.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  font-family: Roboto;
  margin: 0px;
  overflow: none;
}

@media (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

footer {
  background-color: #2F303A;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}

h1, h2, h3 {
  margin: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 479px) {
  .container {
    width: 320px;
  }
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media (min-width: 480px) {
  .section-title {
    font-size: 28px;
    line-height: 33px;
  }
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 42px;
  }
}

.subtitle-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--text-subtitle-color);
}

.container-portfolio {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 95px;
  padding-top: 50px;
}

@media (max-width: 479px) {
  .container-portfolio {
    width: 290px;
  }
}

@media (min-width: 480px) {
  .container-portfolio {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .container-portfolio {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container-portfolio {
    width: 1200px;
  }
}

.comand {
  background: #F5F4FA;
  padding-top: 95px;
  padding-bottom: 95px;
}

.project {
  background-color: #FFFFFF;
  padding-bottom: 95px;
}

@media (max-width: 479px) {
  .project {
    display: none;
  }
}

@media (min-width: 480px) {
  .project {
    display: none;
  }
}

@media (min-width: 1200px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.icon-section {
  background-color: #FFFFFF;
  padding-top: 95px;
  padding-bottom: 95px;
}

.costomer {
  background-color: #FFFFFF;
  padding-top: 95px;
  padding-bottom: 95px;
}
/*# sourceMappingURL=portfolio.css.map */