
.comand-list {
    // width: 1200px;
    // display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: auto;
        @include for-size(tablet-landscape) {
            display: flex;
            justify-content: space-between;
        }
        @include for-size(desktop) {
            display: flex;
            justify-content: space-between;
        }
    
        .item-border {
        @include for-size(tablet-portrait){
            width: 450px;
        }
        @include for-size(tablet-landscape){
            width: 354px;
            margin-top: 30px;
        }
        @include for-size(desktop) {
            width: 270px;
            margin-right: 30px;
        }
    background: #FFFFFF;
/* material shadow v1 */

box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
border-radius: 0px 0px 4px 4px
        }
    }

.comand-list .item-border:last-child {
    margin-right: 0px;
}
.contact-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;

    letter-spacing: 0.03em;
    color: #212121;
}
.contact-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0px;
    margin-bottom: 16px;

    letter-spacing: 0.03em;
    color: #757575;
}
.list-soc {
    display: flex;
    justify-content: center;
    align-items: center;
        .item {
            margin-right: 10px;
            margin-bottom: 24px;
    }
}
.list-soc .item:last-child {
    margin-right: 32px;
}
.list-soc .item:first-child {
    margin-left: 32px;
}