.list-ﾑ「stomer {
    padding: 0px;
    border: none;
    display: flex;
    justify-content: space-between;

    @include for-size(tablet-portrait) {
        flex-wrap: wrap;
    }
    @include for-size(desktop) {
    }
}
.list-ﾑ「stomer .item {
    margin-top: 50px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-ﾑ「stomer .item:hover {
    border: 1px solid #2196F3;
}
.list-ﾑ「stomer .item:last-child {
    margin-right: 0px;
}