.icon-section {
    background-color: #FFFFFF;

    padding-top: 95px;
    padding-bottom: 95px;
}
.icon-style {
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 0px;

    @include for-size(tablet-landscape) {
        display: flex;
    }

    .item {
        @include for-size(tablet-portrait) {
            width: 450px;
            margin-right: auto;
            margin-left: auto;
        }
        @include for-size(tablet-landscape) {
            width: 354px;
            margin-right: auto;
            margin-left: auto;
        }
        @include for-size(desktop) {
            width: 270px;
            margin-right: auto;
            margin-left: auto;
        }
        .subtitle-text {
            margin-top: 30px;
            @include for-size(tablet-portrait) {
                text-align: center;
            }
            @include for-size(tablet-landscape) {
                text-align: left;
            }
        }
    }

}
.icon-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    @include for-size(desktop) {
        // text-align: center;
    }
}
