    .header {
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    position: relative;
    display: flex;
    align-items: center;

    @include for-size(tablet-portrait) {
        width: 480px;
    }
    @include for-size(tablet-landscape) {
        width: 768px;
    }
    @include for-size(desktop) {
        width: 1200px;
    }
}
.main-nav {
    .list-line {
        padding-left: 0px;
    }
}
.header-nav {
    display: none;

    @include for-size(tablet-landscape) {
    display: flex;
    align-items: center;
    }   
}

.list-line .item {
    position: relative;
    @include for-size (tablet-portrait) {
        // width: 100%;
    }
    @include for-size(tablet-landscape) {
    // position: relative;
    padding-top: 32px;
    padding-bottom: 28px;
    }
}
.header-text.current {
    color: #2196F3;
}
.header-text.current::after {
    bottom: -1px;
    left: 0;
    content: "";
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 5px;
    background-color: #2196F3;
    border-radius: 2px;
}
.header-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav {
    @include for-size(tablet-portrait) {
        display: none;
    }
    @include for-size(tablet-landscape) {
        display: block;
    }
    margin-left: auto;

    @include for-size(desktop) {
        display: flex;
        // align-items: center;
    }
    .item {
    fill: #2196F3;
    color: #2196F3;
    @include for-size(tablet-landscape) {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    @include for-size(desktop) {
        margin-right: 30px;
        margin-bottom: 0px;
        }
    }
}
.main-nav .list-line {
    padding-left: 0px;
}
.auth-nav .item:last-child {
    margin-right: 0px;
}
.list-line {
    @include for-size(tablet-portrait) {
        display: none;
        // display: flex;
        width: 100px;
        // display: block;
        margin-right: auto;
        margin-left: auto;
    }
    @include for-size(tablet-landscape) {
        // width: 100%;
        display: flex;
        margin-left: 88px;
    }
}
.list-line .item {
    @include for-size(tablet-portrait) {
        display: inline-block;
    }
    @include for-size(tablet-landscape) {
    margin-right: 50px;
    }
    @include for-size(desktop) {
        margin-top: 0px;
    }
}
.list-line .item:last-child {
    margin-right: 0px;
}
.header-text:hover,
.header-text:focus {
    color: #2196F3;
}
.svg-mobile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding-right: 10px;
    width: 40px;
    height: 40px;
    @include for-size(tablet-landscape) {
        display: none;
    }
    &:hover,
    &:focus {
        fill:#2196F3;  
    }
}
.svg-mobile-header.is-open {
    display: flex;

    @include for-size(tablet-landscape) {
        display: none;
    }
}
// .svg-close-footer {
//     display: none;
//     align-items: center;
//     justify-content: center;
//     margin-left: auto;
//     padding-right: 10px;
//     width: 40px;
//     height: 40px;

//     &:hover,
//     &:focus {
//         fill:#2196F3;  
//     }
    
//     @include for-size(tablet-landscape) {
//         display: none;
//     }
// }
// .svg-close-footer.is-open {
//     display: flex;
// }
// .header-mobile {
//     @media screen and (max-width:767px) {
//         width: 480px;
//         height: 450px;
//         background-color: #000;
//     }
// }
.header-menu {
    z-index: 1;
    display: block;  
    position: absolute;
    top: 100%;
    // left: 0;
    width: 480px;
    height: 450px;
    box-sizing: border-box;
    background-color: #ffffff;
    // padding: 60px 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    @include for-size(tablet-landscape) {
        display: none;
    }
}

.header-menu.is-open {
    display: none;  
}