.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}
.modal {
    width: 450px;
    min-height: 610px;
    background-color: #FFFFFF;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include for-size(desktop) {
        width: 530px;
        min-height: 580px;
    }
}
.modal-end {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.modal-end:hover {
    fill: #2196F3;
}